<launch>
    <include file="$(find roborts_navigation)/launch/gazebo_path_planning.launch" />

    <rosparam file="$(find roborts_gazebo)/config/infantry_control.yaml" command="load" />

    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
        <param name="use_gui" value="True" />
    </node>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="/robomaster_ai"
        args="joint_state_controller
            yaw_velocity_controller
            pitch_velocity_controller" />

    <node name="angle_to_command" pkg="roborts_gimbal" type="angle_to_command" />

</launch>
