<launch>
  <!--<arg name="local_planner_algorithm" default="dwa_local_planner/DWAPlannerROS"/>-->
  <arg name="local_planner_algorithm" default="teb_local_planner/TebLocalPlannerROS"/>


  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <!--<rosparam file="$(find roborts_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find roborts_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />-->
    <rosparam file="$(find roborts_navigation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find roborts_navigation)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find roborts_navigation)/param/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find roborts_navigation)/param/base_global_planner_params.yaml" command="load" />

		<param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="planner_frequency" value="1.0" />
		<param name="planner_patience" value="5.0" />

    <param name="base_local_planner" value="$(arg local_planner_algorithm)" />
		<param name="controller_frequency" value="40.0" />
		<param name="controller_patience" value="15.0" />
    <param name="clearing_rotation_allowed" value="false" />
    <param name="max_planning_retries" value="2" />

  </node>


</launch>
