<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link
    name="right_led_Link">

    <inertial>
      <origin
        xyz="-0.27282 -0.063339 0.010089"
        rpy="0 0 0" />
      <mass
        value="0.028183" />
      <inertia
        ixx="0.00037048"
        ixy="7.803E-06"
        ixz="9.4378E-05"
        iyy="0.0011379"
        iyz="-1.4266E-06"
        izz="0.0014674" />
    </inertial>

    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://roborts_gazebo/meshes/right_led_part.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    
  </link>


  <joint
    name="base_link_to_right_led_joint"
    type="fixed">
    <origin
      xyz="-0.07 -0.205 0.08"
      rpy="-3.14 0 1.57" />
    <parent
      link="base_link" />
    <child
      link="right_led_Link" />
    <axis
      xyz="0 0 0" />
  </joint>

  <link
    name="left_led_Link">

    <inertial>
      <origin
        xyz="-0.27282 -0.063339 0.010089"
        rpy="0 0 0" />
      <mass
        value="0.028183" />
      <inertia
        ixx="0.00037048"
        ixy="7.803E-06"
        ixz="9.4378E-05"
        iyy="0.0011379"
        iyz="-1.4266E-06"
        izz="0.0014674" />
    </inertial>

    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://roborts_gazebo/meshes/left_led_part.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
  </link>


  <joint
    name="base_link_to_left_led_joint"
    type="fixed">
    <origin
      xyz="-0.07 0 0.08"
      rpy="-3.14 0 1.57" />
    <parent
      link="base_link" />
    <child
      link="left_led_Link" />
    <axis
      xyz="0 0 0" />
  </joint>

  <link
    name="hp_led_Link">

    <inertial>
      <origin
        xyz="-0.27282 -0.063339 0.010089"
        rpy="0 0 0" />
      <mass
        value="0.028183" />
      <inertia
        ixx="0.00037048"
        ixy="7.803E-06"
        ixz="9.4378E-05"
        iyy="0.0011379"
        iyz="-1.4266E-06"
        izz="0.0014674" />
    </inertial>

    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://roborts_gazebo/meshes/hp_led_part.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    
  </link>


  <joint
    name="base_link_to_hp_led_joint"
    type="fixed">
    <origin
      xyz="-0.23 -0.14 0.18"
      rpy="-3.14 0 1.57" />
    <parent
      link="base_link" />
    <child
      link="hp_led_Link" />
    <axis
      xyz="0 0 0" />
  </joint>

  <link
    name="front_led_Link">

    <inertial>
      <origin
        xyz="-0.27282 -0.063339 0.010089"
        rpy="0 0 0" />
      <mass
        value="0.028183" />
      <inertia
        ixx="0.00037048"
        ixy="7.803E-06"
        ixz="9.4378E-05"
        iyy="0.0011379"
        iyz="-1.4266E-06"
        izz="0.0014674" />
    </inertial>

    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://roborts_gazebo/meshes/front_led_part.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
  </link>


  <joint
    name="base_link_to_front_led_joint"
    type="fixed">
    <origin
      xyz="0.175 -0.075 0.082"
      rpy="-3.14 0 1.57" />
    <parent
      link="base_link" />
    <child
      link="front_led_Link" />
    <axis
      xyz="0 0 0" />
  </joint>

  <gazebo reference="front_led_Link">
    <material>Gazebo/Blue</material>
    <turnGravityOff>false</turnGravityOff>
  </gazebo>
  <gazebo reference="right_led_Link">
    <material>Gazebo/Blue</material>
    <turnGravityOff>false</turnGravityOff>
  </gazebo>
  <gazebo reference="left_led_Link">
    <material>Gazebo/Blue</material>
    <turnGravityOff>false</turnGravityOff>
  </gazebo>
  <gazebo reference="hp_led_Link">
    <material>Gazebo/Blue</material>
    <turnGravityOff>false</turnGravityOff>
  </gazebo>
  
</robot>
