<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="roborts_red_0">

  <xacro:include filename="$(find roborts_gazebo)/urdf/roborts.gazebo.xacro"/>
  <xacro:include filename="$(find roborts_gazebo)/urdf/roborts.trans.xacro"/>
  <xacro:include filename="$(find roborts_gazebo)/urdf/roborts_led_red.xacro"/>
  <xacro:include filename="$(find roborts_gazebo)/urdf/roborts.base.xacro"/>

  <!-- hokuyo -->
  <!-- Noise is sampled independently per pixel on each frame.  
      That pixel's noise value is added to each of its color
      channels, which at that point lie in the range [0,1]. -->
  <gazebo reference="base_laser_link">
    <sensor type="ray" name="head_hokuyo_sensor">
      <pose>2000 2000 2000 0 0 0</pose>
      <visualize>false</visualize>
      <update_rate>40</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>720</samples>
            <resolution>1</resolution>
            <min_angle>-2.3</min_angle>
            <max_angle>2.3</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.10</min>
          <max>10.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
        <topicName>/roborts_red_1/scan</topicName>
        <frameName>base_laser_link</frameName>
      </plugin>
    </sensor>
  </gazebo>

  <!--<gazebo>
    <plugin name="realsense_plugin" filename="libRealSensePlugin.so"/>
  </gazebo>-->


  <!-- position controller plugin-->
  <gazebo>
    <plugin name="mecanum_base_controller" filename="libgazebo_ros_planar_move.so">
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <odometryRate>100.0</odometryRate>
      <robotBaseFrame>base_footprint</robotBaseFrame>
      <broadcastTF>true</broadcastTF>
  </plugin>
</gazebo>

  
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/roborts_red_1</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo> 

  <!--<gazebo>
    <plugin name="roborts_shooter" filename="libgazebo_shooter_plugin.so">
      <robotNamespace>/roborts_red_1</robotNamespace>
      <gimbal_link>pitch_Link</gimbal_link>
      <fake_link>fake_link</fake_link>
      <reference_frame>map</reference_frame>
      <force>4000.0</force>
      <default_freq>30</default_freq>
    </plugin>
  </gazebo>-->
  
</robot>
