<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="roborts_red_0">

  <xacro:include filename="$(find roborts_gazebo)/urdf/roborts.gazebo.xacro"/>
  <xacro:include filename="$(find roborts_gazebo)/urdf/roborts.trans.xacro"/>
  <xacro:include filename="$(find roborts_gazebo)/urdf/roborts_led_red.xacro"/>
  <xacro:include filename="$(find roborts_gazebo)/urdf/roborts.base.xacro"/>

  <xacro:gimabal namespace="roborts_red_0" />
  <xacro:led_color led_color="Red" />
  <xacro:gazebo_plugin namespace="roborts_red_0" />

  
</robot>
